* {
  box-sizing: border-box;
}

.App {
  display: flex;
}

.App .column {
  width: 30%;
}

.droppable-col {
  width: 1320px;
  padding: 10px 5px 0 10px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.drag {
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  width: 300px;
  right: 60px;
  top: 140px;
  flex: 1;
  height: 772px;
  padding: 3px;
  border: 1px dashed #000000;
  border-radius: 8px;
  background-color: #fff;
  margin-top: 15px;
}

.item {
  margin-bottom: 10px;
  color: black;
  border: 1px solid white;
  padding: 5px;
  border-radius: 2px;
}

.item.dragging {
  background-color: white;
}

.deals-section {
  background-color: #f4f5f5;
  overflow-x: auto;
  width: 1200px;
  height: 900px;
  right: 60px;
  top: 128px;
  display: flex;
  flex-direction: row;
  left: 0;
  top: 0;
  opacity: 1;
}

.ondraggable {
  background: white;
  border-radius: 1px;
  margin: 10px;
  padding: 10px 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  box-shadow: inset;
  height: 110px;
}

.name {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.deal-card {
  background: white;
  border-radius: 8px;
  margin: 10px;
  padding: 10px 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  height: 108px;
  gap: 6px;
}

.deal-card:hover .cardcheckbox {
  display: block;
}

.price {
  font-size: 13px;
  margin: 5px 0px;
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.title {
  font-weight: 600;
  font-size: 14px;
  display: flex;
  line-height: 18px;
}

.deals-column {
  box-sizing: content-box;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  width: 320px;
  box-sizing: border-box;
  left: 1020px;
  right: 60px;
  top: 128px;
  height: 800px;
  background: #f4f5f5;
  box-shadow: inset -1px 0px 0px rgba(0, 0, 0, 0.1);
}

.deals-column--header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  width: 319px;
  height: 70px;
  top: 128px;
  left: 60px;
  display: flex;
  flex-direction: row;
}

.sort {
  left: 54.17%;
  right: 37.5%;
  top: 70.83%;
  bottom: 29%;
  color: gray;
}

.deals2 {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 5px;
}

.amount {
  display: flex;
  gap: 5px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.av {
  display: flex;
  gap: 5px;
}

.value {
  color: gray;
}

.deal-contact .contact-pic {
  width: 24px;
  height: 24px;
  left: 0px;
  margin-top: 3px;
  /* border: 1px solid rgba(0.1, 0.1, 0.1, 0.1);  */
  border: 2px solid rgba(0, 0, 0, 0.1);
  /* border-width: 0.5px; */
  border-radius: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.contact-image {
  width: 23px;
  height: 23px;
}
.deal-contact {
  /* border:2px solid green; */
  display: flex;
  gap: 5px;
}
.cardcheckbox {
  display: none;
  width: 15px;
  height: 15px;
  bottom: -75px;
  border-radius: 3px;
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 30px;
  border: 1.5px solid #000000;
}
.container {
  display: flex;
  gap: 150px;
}
.date {
  color: gray;
}
