.group-button-container {
  border-radius: 8px;
  font-weight: 600;
  color: #707070;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  padding: 6px;
  width: 92px;
  height: 36px;
}

.active{

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 10px;
gap: 10px;
width: 36px;
height: 28px;

/* CRM/ThemeColor */
background: #33BC7E;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
